.sliding-row{
    border: 1px solid black;
    width: 50%;
    margin: 100px auto;
}

.innerelems{
    border: 1px solid black;
    min-height:75px;
    padding-left:15px;
    padding-right:15px; 
}

.rows{
    display:flex;
    flex-wrap:wrap;
}